[submodule "libRetroReversing"]
	path = libRetroReversing
	url = https://github.com/RetroReversing/libRetroReversing.git
[submodule "SameBoy"]
	path = SameBoy
	url = https://github.com/RetroReversing/SameBoy.git
[submodule "Genesis-Plus-GX"]
	path = Genesis-Plus-GX
	url = https://github.com/RetroReversing/Genesis-Plus-GX.git
[submodule "PokeMini"]
	path = PokeMini
	url = https://github.com/RetroReversing/PokeMini.git
[submodule "beetle-saturn-libretro"]
	path = beetle-saturn-libretro
	url = https://github.com/RetroReversing/beetle-saturn-libretro.git
[submodule "snes9x2010"]
	path = snes9x2010
	url = https://github.com/RetroReversing/snes9x2010.git
